.third-section__item{
  display: flex;
  align-items: center;
  list-style: none;
}
.third-section__item{
  padding-top: 15px;
}
.third-section__icon-list{
  margin-left: -40px;
  margin-right: 50px;
}
.cat-music{
  margin-right: 20px;
}
.music-items{
  display: flex;
  align-items: center;
}
.peppers-span{
  display: block;
  font-size: 16px;
  font-weight: 500;
}
.with-you{
  display: block;
  font-size: 20px;
  font-weight: 700;
}
.volume-range{
  display: block;
  margin-top: 10px;
}

.volume-range::before{
  content: "0:59";
  color: rgba(0, 0, 0, 0.603);
  padding-right: 20px;
}

.volume-range::after{
  content: "3:51";
  color: rgba(0, 0, 0, 0.603);
  padding-left: 20px;
}
.range-input{
  cursor: pointer;
  width: 351px;
  margin: 15px 0;
}

.second-section__album-list{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 95px;
}
.second-section__album-img {
  background: (#00000048);
  box-shadow: 10px 10px 10px #00000048, 10px 10px 10px #00000048;
}
.second-section__album-img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1.5s all;
}

.second-section__album-img + .second-section__album-img{
  margin-left: -5px;
}
.musical-img:hover{ 
  cursor: pointer;
  transform: scale(1.8);
  transition: 1.2s all;

}